$primary-col: #2198f2;
$background-col: #121212;
$secondary-background-col: #272727;
$gradient: linear-gradient(45deg, darken($primary-col, 20%), lighten($primary-col, 20%));

.body-container {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15vh 81vh 4vh;
    grid-template-areas:    "nav nav header header header header header header header header header header"
                            "nav nav main main main main main main main main main main"
                            "nav nav footer footer footer footer footer footer footer footer footer footer"

}

html,body {
    margin:0;
    padding: 0;
    height:100vh
}

body {
    background:$background-col;
    color: black;
    text-align: center;
}

header {
    grid-area: header;
    background:$secondary-background-col;
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:10px;
}

nav {
    grid-area: nav;
    background: $gradient;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: $secondary-background-col;
}

.main-container {
    display: grid;
    grid-template-columns: 72.5% 27.5%;
    grid-auto-rows: auto;
    grid-template-areas: "channels announcement"
                         "channels message";
}

.channels {
    grid-area: channels;
}

.announcements {
    grid-area: announcement;
}

.messages {
    grid-area: message;
}

.channel-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px,auto);
    gap: 20px;
    margin:20px;
}

.channel-box {
    background-color: $secondary-background-col;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    border-left: 10px solid $primary-col
}

.channel-box {
    position: relative;
    background-color: $secondary-background-col;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    border-left: 10px solid $primary-col;
    overflow: hidden; // Add this line
}

.channel-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-col;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out; // Adjust duration and easing as needed
}

.channel-box:hover::before {
    transform: translateX(0);
}