$background-col: #121212;
$secondary-background-col: #272727;
$primary-col: #2198f2;
$gradient: linear-gradient(45deg, darken($primary-col, 20%), lighten($primary-col, 20%));

.body-container {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15vh 81vh 4vh;
    grid-template-areas:    "nav nav header header header header header header header header header header"
                            "nav nav main main main main main main main main main main"
                            "nav nav footer footer footer footer footer footer footer footer footer footer"

}

html,body {
    margin:0;
    padding: 0;
    height:100vh
}

body {
    background:$background-col;
    color: black;
    text-align: center;
}

header {
    grid-area: header;
    background:$secondary-background-col;
    box-shadow: 0px 5px 10px $primary-col;
}

nav {
    grid-area: nav;
    background: $gradient;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: $secondary-background-col;
}

.main-container {
    display: grid;
    grid-template-columns: 72.5% 27.5%;
    grid-auto-rows: auto;
    grid-template-areas: "channels announcement"
                         "channels message";
}

.channels {
    grid-area: channels;
    background: yellow;
}

.announcements {
    grid-area: announcement;
    background: red;
}

.messages {
    grid-area: message;
    background: green;
}
